body {
    background-color: lightgray;
    margin: 0;
}

.topheader,
.left {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    /* border: 1px solid; */
}

ul li {
    padding: 13px 20px;
    font-family: "Source Sans 3";
    font-size: 16px;
    /* border: 1px solid; */
}

.left ul li:hover {
    background-color: #04aa6d;

}

.left ul li a:hover {
    color: #fff;
}

.topheader ul li a {
    color: #000;
}

ul li,
a {
    display: flex;
    align-items: center;

}

ul li a {
    text-decoration: none;
}

.menubar {
    background-color: #282a35;
    height: 100px;
}

.right li>a {

    padding: 2px 15px;
}

.right li a.det:hover {
    background-color: #f1f1f1;
    border-radius: 15px;
}

.right li:nth-child(2) span {
    color: #04aa6d;
}

.right li:nth-child(3) span {
    color: #9763f6;
}

.reg {
    /* background-color: #d9eee1; */
    display: flex;
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
}

.reg a:nth-child(1) {
    background-color: #04aa6d;
    border-radius: 15px;
    padding: 5px 20px;
    z-index: 0;
}

.reg a:nth-child(1):hover {
    background-color: #059862;
}
.reg a:nth-child(2) {
    background-color: #d9eee1;
    padding: 0 20px;
    margin-left: -10px;
}
.reg .log:hover {
    background-color: #059862;
}

