body {
    background-color: lightgray;
    margin: 0;
    font-family: "Source Sans 3";
}

.topheader,
.left,
.right {
    display: flex;
}

.left,
.right {
    flex-grow: 1;
}

.topheader .right {
    justify-content: end;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    /* border: 1px solid; */
}

ul li {
    padding: 13px 5px;
    font-family: "Source Sans 3";
    font-size: 16px;
    /* border: 1px solid; */
}

.left ul li:hover {
    background-color: #04aa6d;

}

.left ul li a:hover {
    color: #fff;
}

.topheader ul li a {
    color: #000;
}

ul li,
header a {
    display: flex;
    align-items: center;

}

ul li a {
    text-decoration: none;
}



.right li>a {

    padding: 2px 15px;
}

.right li a.det:hover {
    background-color: #f1f1f1;
    border-radius: 15px;
}

.right li:nth-child(2) span {
    color: #04aa6d;
}

.right li:nth-child(3) span {
    color: #9763f6;
}

.reg {
    /* background-color: #d9eee1; */
    display: flex;
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
}

.reg a:nth-child(1) {
    background-color: #04aa6d;
    border-radius: 15px;
    padding: 5px 20px;
    z-index: 0;
}

.reg a:nth-child(1):hover {
    background-color: #059862;
}

.reg a:nth-child(2) {
    background-color: #d9eee1;
    padding: 0 20px;
    margin-left: -10px;
}

.reg .log:hover {
    background-color: #059862;
}

.menubar {
    background-color: #282a35;
    display: flex;
}

.mun {
    margin: 0 3px;
    padding: 0;
}

.mun li {
    color: #c2c3c5;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 0;
}


.menuicon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.menuicon span {
    color: #c2c3c5;
    font-size: 20px;
    line-height: 27px;
    margin: 0 10px;
    margin: 20px 0;
}

.top {

    background-color: #282a35;
    color: #fff;
    text-align: center;

}

.top p:nth-child(1) {
    font-size: 70px;
    line-height: 105px;
    font-weight: 700;
}

.top p {
    margin: 0;
    padding: 0;
}

.top .title {
    color: #ffc0c7;
    font-size: 23px;
}

.searchbox {
    text-align: center;
    /* margin: 40px; */
    /* border: 1px solid #fff; */
    padding: 10px;
}

.searchbox .container {
    background-color: #fff;
    width: 500px;
    border-radius: 50px;
    overflow: hidden;
    /* display: inline-block; */
    margin: auto;
    /* padding: 15px 5px; */
    display: flex;
    justify-content: space-between;
}

.searchbox .container input {
    width: 100%;
    border: 0;
    outline: 0;
    border: 1px solid;
    padding: 0 10px;
}

.searchbox .container a {
    background-color: #04aa6d;
    padding: 5px 40px;
    /* display: flex; */
}

.searchbox .container a span {
    line-height: 40px;

}

a.notsure {
    font-weight: 900;
    font-size: 23px;
    text-decoration: underline;
    padding: 40px 0;
    color: #fff;
    display: block;
}

section.courses {
    padding: 40px;
    background-color: #d9eee1;
}

.courses .html {
    display: flex;
    justify-content: space-around;
}

.courses .html .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses .html .left .btns {
    background-color: #04AA6D;
    width: 200px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    padding: 8px 16px
}

.svg {
    display: block;
}

.courses .html .left #video {
    background-color: #FFF4A3 !important;
    color: #000;
}

.courses .html .left #get {
    background-color: #ffb3bb !important;
    color: #000;
}

.courses .html .left #refrence {
    background-color: #282A35 !important;
    /* color: #000; */
}

.courses .html .right {
    justify-content: center;
}

.courses .html .right .htmlcode {
    width: 400px;
    background-color: #E7E9EB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.courses .html .right .htmlcode h1 {
    margin-left: 20px;
}

.courses .html .right .htmlcode .code {
    background-color: #fff;
    margin: 20px;
    padding: 5px;
    border-left: 4px solid #04AA6D;
}

#htmltry {
    background-color: #04AA6D;
    width: 200px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    padding: 8px 16px;
    display: block;
}

section.sectioncss {
    background-color: #FFF4A3 !important;
}

.csstry {
    display: inline-block;
}


section.sectionjs {
    background-color: #282A35 !important;
    color: #fff;
}

section.sectionjs .html .htmlcode {
    color: #000;
}

section.etc {
    background-color: #9763f6;
    height: 100px;
    text-align: center;
    font-size: larger;
}

section.othercourse {
    background-color: #282A35;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

section.othercourse .cards {
    color: #000;
    width: 40%;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

section.othercourse .cards p {
    margin: 30px auto;
}
section.othercourse .cards a {
    padding: 10px 50px;
    background-color:#282A35 ;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}

section.othercourse .php {
    background-color: #FFC0C7;
}

section.othercourse .jquery {
    background-color: #fff4a3;
}
section.othercourse .java {
    background-color: #f3ecea;
}